<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config/application.properties" />
    </bean>

    <bean id="undertowServer" class="com.doopp.gauss.server.undertow.UndertowServer">
        <property name="host" value="${undertow.host}" />
        <property name="port" value="${undertow.port}" />
        <property name="sslPort" value="${undertow.sslPort}" />
        <property name="webAppName" value="${undertow.webAppName}" />
        <property name="webAppRoot" value="${undertow.webAppRoot}" />
        <property name="jksFile" value="${undertow.jks}" />
        <property name="servletContainerInitializer">
            <bean class="com.doopp.gauss.server.undertow.WebAppServletContainerInitializer" />
        </property>
    </bean>

</beans>