
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>You draw, I guess</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor"/>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="/css/mobile-app.css" rel="stylesheet">
</head>

<body>

<div class="nav-content">
    <div class="nav-left">
        <a href="/helper/room"><b>房间</b></a>
    </div>
    <div class="nav-center">
        <h2>Chat room</h2>
    </div>
    <div class="nav-right">
        <a href="/helper">API</a>
    </div>
</div>

<div class="body-content">
    <div class="center-content">
        <div class="form-input">
            <input type="text" name="account" value="" placeholder="请输入账号">
        </div>
        <div class="form-input">
            <input type="text" name="password" value="" placeholder="请输入密码">
        </div>
        <div class="form-input">
            <button class="btn-info" type="submit">登 录</button>
        </div>
        <div class="form-input">
            <button class="btn-info" type="button">我 要 注 册</button>
        </div>
    </div>
</div>

</body>
</html>