
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th colspan="3">
                <span class="label label-info"># 长连 #</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="width:33%;">
                <div>
                    <b>socket url : </b> <code>ws://domain.com/live-socket?access-token=xxx</code>
                    <br>
                    <b>send json : </b> <code>{action:"createRoom", data:{roomName:#roomName}}</code>
                </div>
                <form ng-submit="connectRoom('room1')">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Enter Access Token" ng-model="room1.accessToken">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Room Name" ng-model="room1.createMessage.roomName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">创建房间 socket 1</button>
                    </div>
                </form>

                <form ng-submit="callPlayer('room1', 1);">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">来把狼人杀</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="joinGame('room1');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">参加游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="leaveGame('room1');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">离开游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="disconnectRoom('room1');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">退出房间</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

            </td>

            <td style="width:33%;">
                <div>
                    <b>socket url : </b> <code>ws://domain.com/live-socket?access-token=xxx</code>
                    <br>
                    <b>send json : </b> <code>{action:"joinRoom", data:{roomId:#roomId}}</code>
                </div>
                <form ng-submit="connectRoom('room2')">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Enter Access Token" ng-model="room2.accessToken">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Room ID" ng-model="room2.joinMessage.roomId">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">进入房间 socket 2</button>
                    </div>
                </form>

                <form ng-submit="joinGame('room2');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">参加游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="leaveGame('room2');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">离开游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="disconnectRoom('room2')">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">退出房间</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>
            </td>

            <td style="width:33%;">
                <div>
                    <b>socket url : </b> <code>ws://domain.com/live-socket?access-token=xxx</code>
                    <br>
                    <b>send json : </b> <code>{action:"joinRoom", data:{roomId:#roomId}}</code>
                </div>
                <form ng-submit="connectRoom('room3')">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Enter Access Token" ng-model="room3.accessToken">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Room ID" ng-model="room3.joinMessage.roomId">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">进入房间 socket 3</button>
                    </div>
                </form>

                <form ng-submit="joinGame('room3');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">参加游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="leaveGame('room3');">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">离开游戏</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>

                <form ng-submit="disconnectRoom('room3')">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">退出房间</button>
                        <span>{{ socketStatus }}</span>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th colspan="2">
                <span class="label label-info"># 列出聊天室 #</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <b>API URL</b> : <code>[GET] http://domain.com/api/v1/room/list</code>
                <br><b>GET 参数</b> :
                <br><b>返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code>{UserDTO}</code>
                <br><b>测试返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code ng-bind="roomListResponse">#右侧测试结果显示在这#</code>
            </td>
            <td style="width:38%;">
                <form ng-submit="apiRoomList()">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Enter Access Token" ng-model="roomListAccessToken">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">列出聊天室</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th colspan="2">
                <span class="label label-info"># 登录 #</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <b>API URL</b> : <code>[POST] http://domain.com/api/v1/login</code>
                <br><b>POST 参数</b> :
                <br><b style="padding-left:20px;">account</b> : <code>#account</code>
                <br><b style="padding-left:20px;">password</b> : <code>#password</code>
                <br><b>返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code>{#accesstoken}</code>
                <br><b>测试返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code ng-bind="loginResponse">#右侧测试结果显示在这#</code>
            </td>
            <td style="width:38%;">
                <form ng-submit="apiLogin()">
                    <div class="form-group">
                        <input type="text" name="account" class="form-control" autocomplete="off"
                               placeholder="Enter Account" ng-model="loginData.account">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" autocomplete="off"
                               placeholder="Enter Password" ng-model="loginData.password">
                    </div>
                    <div class="form-group">
                        登录的数据会保存，其他需要 access token 的接口，会直接用最近一次登录的 access token
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">登录</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th colspan="2">
                <span class="label label-info"># 新用户注册 #</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <b>API URL</b> : <code>[POST] http://domain.com/api/v1/register</code>
                <br><b>POST 参数</b> :
                <br><b style="padding-left:20px;">account</b> : <code>#account</code>
                <br><b style="padding-left:20px;">password</b> : <code>#password</code>
                <br><b style="padding-left:20px;">nickName</b> : <code>#nickName</code>
                <br><b>返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code>{#accesstoken}</code>
                <br><b>测试返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code ng-bind="registerResponse">#右侧测试结果显示在这#</code>
            </td>
            <td style="width:38%;">
                <form ng-submit="apiRegister()">
                    <div class="form-group">
                        <input type="text" name="account" class="form-control" autocomplete="off"
                               placeholder="Enter Account" ng-model="registerData.account">
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" class="form-control" autocomplete="off"
                               placeholder="Enter Password" ng-model="registerData.password">
                    </div>
                    <div class="form-group">
                        <input type="text" name="nickName" class="form-control" autocomplete="off"
                               placeholder="Enter Nick name" ng-model="registerData.nickName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">注册</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th colspan="2">
                <span class="label label-info"># 查看自己 #</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <b>API URL</b> : <code>[GET] http://domain.com/api/v1/user/me</code>
                <br><b>GET 参数</b> :
                <br><b>返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code>{UserDTO}</code>
                <br><b>测试返回</b> :
                <br><b style="padding-left:20px;">json</b> : <code ng-bind="meInfoResponse">#右侧测试结果显示在这#</code>
            </td>
            <td style="width:38%;">
                <form ng-submit="apiMeInfo()">
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off"
                               placeholder="Enter Access Token" ng-model="meInfoAccessToken">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">查看用户信息</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>