<div class="modal-dialog modal-my-sm opacity-90">
    <form ng-submit="createRoom()">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input type="email" name="account" class="form-control" autocomplete="off"
                           placeholder="请输入房间名" ng-model="formData.name" value="koocyton@gmail.com">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">创建房间</button>
            </div>
        </div><!-- /.modal-content -->
    </form><!-- /.modal-form -->
</div><!-- /.modal-dialog -->