<div class="modal-dialog modal-my-sm opacity-90">
    <form ng-submit="requestRegister()">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input type="email" name="account" class="form-control" autocomplete="off"
                           placeholder="请输入邮箱账号" ng-model="formData.account" value="koocyton@gmail.com">
                </div>
                <div class="form-group">
                    <input type="password" ng-minlength="5" name="password" class="form-control" autocomplete="off"
                           placeholder="请输入您的密码" ng-model="formData.password" value="123456">
                </div>
                <div class="form-group">
                    <input type="password" ng-minlength="5" name="rePassword" class="form-control" autocomplete="off"
                           placeholder="再次输入您的密码" ng-model="formData.rePassword" value="123456">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#/login" style="color:#0084b4">登录</a>
                <button type="submit" class="btn btn-success">注册</button>
            </div>
        </div><!-- /.modal-content -->
    </form><!-- /.modal-form -->
</div><!-- /.modal-dialog -->